@import url(pygments.css);
@import url(reset.css);

/* General stuff. */

body {
    width: 900px;
}

.content {
    padding: 5px;
    margin-top: 30px;
}

html { /* This stuff is for the sticky footer. */
    min-height:100%;
    position:relative;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
     background-color: #e8f0f8; 
}

body {
    background-color:#fafafa;
    font-family:'Open Sans';
    margin: 20px auto 100px auto; /* For sticky footer. */
}

/* Site header. */

.sitebanner {
    font-size: 18px;
    margin-left: 10px;
    padding-top: 30px;
}

.siteheader {
    padding-bottom: 12px;
    overflow: visible;
    border-bottom: 2px #888 solid;
}

.siteimage {
    float: left;
    width: 140px;
    height: auto;
}

.siteimage-img {
    width: 100%;
    height: 100%;
}

.sitetitle {
    font-family: 'Merriweather';
    font-weight: 300;
    font-size: 4em;
    padding-left: 10px; /* Hack to dodge :hover issue. */
    position: relative; /* Hack to dodge :hover issue. */
    left: -10px; /* Hack to dodge :hover issue. */
}

.sitesubtitle {
    color: #000;
    font-size: 1em;
    margin-bottom: 30px;
    margin-top: 20px;
    /* padding-left: 30px; */
}

/* The navbar. */

.menu {
    font-size: 1.3em;
    padding-left: 25px;
}

.menu-icons {
    float: right;
}

.menu-icons li {
    margin-right: 10px;
    display: inline;
}

.menu-links {
    float: left;
}

.menu-links li {
    margin-right: 20px;
    display: inline;
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

/* Article list on index page. */

#postlist {
    padding-left: 25px;
}

.posttitle {
    font-size: 1.6em;
}

.postinfo {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #666;
    font-size: .7em;
}

.postsummary {
    font-family: Merriweather;
    font-weight: 300;
}

.post {
    margin-bottom: 20px;
}

/* Links. */

a { /* Generic link styling */
    color: #0645ad;
    text-decoration: none;
    -o-transition:color .2s ease-in-out;
    -webkit-transition:color .2s ease-in-out;
    -moz-transition:color .2s ease-in-out;
    transition:color .2s ease-in-out;
}

.nodec {
    /* Links that aren't just in content areas shouldn't be underlined */
    text-decoration: none;
}

a:hover { /* Hover style: transition to orange. Cool! */
    -o-transition:color .2s ease-in-out;
    -webkit-transition:color .2s ease-in-out;
    -moz-transition:color .2s ease-in-out;
    transition:color .2s ease-in-out;
    color: orange;
}

/* Generic to all content. */

.content ol, .content ul {
    padding-left: 20px;
    padding-bottom: 20px;
}

/* Make super and subscipts look reasonable. */

sup, sub {
    vertical-align: 0;
    position: relative;
}

sup {
    bottom: 1ex;
    font-size: 0.6em;
}

sub {
    top: 0.8ex;
    font-size: 0.6em;
}

/* Article */

.article {
    margin-top: 20px;
}

/* Lists */

.article * li {
    line-height: 1.1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

/* Paragraphs. */

.article p {
    line-height: 1.3em;
    margin-bottom: 1.5em;
}

/* Headers. */

.article h1, .h1-title {
    padding-bottom: 1em;
    font-size: 1.6em;
}

.article h2, .h2-title {
    padding-bottom: 0.9em;
    font-size: 1.2em;
}

.article h3, .h3-title {
    padding-bottom: 0.8em;
    font-size: 1em;
}

/* Footnotes. */

.article .footnote {
    font-size: 0.8em;
}

/* Images */

.content * img {
    display: block;
    margin: 0 auto 0 auto;
    max-width: 100%;
    height: auto;
}

.inline-image {
    display: inline-block;
}

/* Blockquotes */

.article blockquote {
    font-size: 0.9em;
    font-style: italic;
    border-left: 3px solid #ccc;
    margin-left: 30px;
    padding-left: 10px;
    margin-bottom: 30px;
}

/* Code */

.codehilite, .highlight { /* Put code blocks in the right place. */
    background-color:#fefefe;
    width: 800px;
    margin: 0 0 0 0;
    margin-bottom: 20px;
    overflow: auto;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.article pre {
    font-family: 'Source Code Pro';
    font-size: .8em;
    margin: auto;
    padding: 1em;
    line-height: 120%;
}

.article code {
    font-family: 'Source Code Pro';
    font-size: 1em;
}

/* Footer at page bottom */

footer {
    bottom: 0;
    color: gray;
    font-size: .7em;
    height: 30px;
    position: absolute;
    width: 900px;
}

footer p {
    text-align: center;
}

.home-icons-container {
    text-align:center;
    margin: 60px 60px;
}

.home-icon {
    display: inline-block;
    width:25%;
}

.home-icon img {
    width:100px;
    height:auto;
    margin:auto;
}

.recent-posts {
    padding: 10px;
    margin-top: 80px;
}

.recent-post-title {
    font-size: 1.1em;
}

/**
 * PLUGINS - share posts
 */

.post-share-links {
    text-align: right;
}

.post-share-links img {
    display: inline-block;
    margin-left: 6px;
}

@media all and (max-width:900px) {
    body, footer {
        width: 100%;
    }

    .home-image {
        width:50%;
    }
}

@media all and (max-width:900px) {
    body, footer {
        width: 100%;
    }

    .home-icons-container {
        margin: 5px;
    }

    .home-icon {
        width:50%;
    }

    .home-icon img {
        margin:auto;
    }
}

@media all and (max-width:300px) {
    .home-icon {
        width:100%;
    }
}

