{% extends "base.html" %}

{% block title %}
{{ article.title|striptags }} - {{ SITENAME }}
{% endblock title %}

{% block content %}

<section class="content">

  <h3 class="posttitle">
    <a class="nodec" href="/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
      {{ article.title }}
    </a>
  </h3>

  <div class="postinfo">
    <p class="published" title="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </p>

    {% if article.author and SHOW_ARTICLE_AUTHOR %}
    <address class="vcard author">
      By <a class="nodec" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
    </address>
    {% endif  %}
  </div><!-- .postinfo -->
  
  {% if article.status == "published" %}
    {% include "share_links.html" %}
  {% endif %}

  <div class="article">
    {{ article.content }}
  </div><!-- .content -->
  
</section>

{% if DISCOURSE_EMBEDDED_URL and article.status == "published" %}
<div id='discourse-comments'></div>

<script type="text/javascript">
  DiscourseEmbed = { discourseUrl: {{ DISCOURSE_EMBEDDED_URL }},
                     discourseEmbedUrl: document.URL };

  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
</script>
{% endif %}


{% include "recent_posts.html" %}

{% endblock %}
