<section class="recent-posts">
<h1 class="h1-title">The most recent posts</h1>
{% set recent_articles = articles if not all_articles else all_articles %}
<ol id="postlist">

  {% for article in recent_articles[:4] %}
  <li class="post">

      <header class="recent-post-title"><a href="{{ SITEURL }}/{{ article.url }}"
        rel="bookmark"
        class="nodec"
        title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
      </header>

      <div class="postinfo">
        <p class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </p>
      </div><!-- /.postinfo -->

    </li>
    {% endfor %}
  </ol>
</section>
