{% if article.share_post and article.status != 'draft' %}
<section>
    <p class="post-share-links">
        Share
        <a href="{{ article.share_post['facebook'] }}" target="_blank" title="Share on Facebook"><img src="images/social/facebook-32.png" alt="Facebook"></a>
        <a href="{{ article.share_post['twitter'] }}" target="_blank" title="Share on Twitter"><img src="images/social/twitter-32.png" alt="Twitter"></a>
        <a href="{{ article.share_post['diaspora'] }}" target="_blank" title="Share on Diaspora"><img src="images/social/diaspora-32.png" alt="Disapora*"></a>
    </p>
</section>
{% endif %}
